<div>
  <div class="div-card">
    <div style="width: 25rem;">
      <img style="max-width: 600px; max-height: 600px; min-height: 550px;" [src]="image" >
    </div>
    <div class="div-info text-light" >
      <h2>
        {{ title }}
      </h2>
      <h4>
        {{ year }}
      </h4>
      <p>
        {{ description }}
      </p>
    </div>
  </div>
</div>


<div class="d-flex div-card" style="margin-top: 15px" *ngIf="authService.isAdmin()">
    <button (click)="delete()" class="btn btn-light" type="button" title="Delete">
      Usuń film
    </button>
    <button style="margin-left: 15px" (click)="editMovie()" class="btn btn-light" type="button" title="Edit">
      Edytuj
    </button>
</div>



